Package: apt.1nternist.icausefxre-list
Version: 1.0
Section: MyRepoSpace.com
Maintainer: chir0student <chir0student@me.com>
Architecture: iphoneos-arm
Description: iCauseFX Repo
Sponsor: myRepoSpace.com <http://www.myrepospace.com/>
Name: iCauseFX Repo
Depiction: http://www.myrepospace.com/
Author: chir0student
