Package: apt.1nternist.harrisonap-list
Version: 1.1
Section: Repositories
Maintainer: chir0student <chir0student@me.com>
Architecture: iphoneos-arm
Description: Harrisonapps repository
Sponsor: myRepoSpace.com <http://www.myrepospace.com/>
Name: HarrisonApps Repo
Depiction: http://www.myrepospace.com/
Author: chir0student
