Architecture: iphoneos-arm
Author: tj <tj@vision-media.ca>
Maintainer: tj <tj@vision-media.ca>
Sponsor: 1nternist <dc1nternist@icloud.com>
Description: GIT utilities -- repo summary, repl, changelog population, author commit percentages and more!
Section: Development
Name: git-extras
Package: apt.1nternist.git-extras
Version: 4.1.0-2
Tag: purpose::console, role::developer
