Package: apt.1nternist.ilexinfore-list
Version: 1.0
Section: MyRepoSpace.com
Maintainer: chir0student <chir0student@me.com>
Architecture: iphoneos-arm
Description: iLEXiNFO's Repo (iLEX R.A.T. | RESTORE)
Sponsor: myRepoSpace.com <http://www.myrepospace.com/>
Name: iLEXiNFO Repo
Depiction: http://www.myrepospace.com/
Author: chir0student
