Architecture: iphoneos-arm
Author: Joey Hess <joeyh@debian.org>
Conflicts: dpkg-cross (<< 1.18), python-central (<< 0.5.6), python-support (<< 0.5.3)
Depends: apt.1nternist.perl | apt.1nternist.perl510 | apt.1nternist.perl514 | apt.1nternist.perl520 | perl | org.coolstar.perl | apt.1nternist.perlfullinstall, file (>= 3.23), apt.1nternist.dpkg-dev
Description: **compiled on iPhone 6** debhelper is a collection of helper programs for debian/rules A collection of programs that can be used in a debian/rules file to automate common tasks related to building debian packages. Programs are included to install various files into your package, compress files, fix file permissions, integrate your package with the debian menu system, debconf, doc-base, etc. Most debian packages use debhelper as part of their build process.
Homepage: http://kitenet.net/~joey/code/debhelper/
Maintainer: Chir0student <chir0student@me.com>
Name: debhelper
Package: apt.1nternist.debhelper
Priority: optional
Section: Packaging
Sponsor: Chir0student <chir0student@me.com>
Suggests: dh-make
Version: 9.20141107-4
