Architecture: iphoneos-arm
Author: Chir0student <chir0student@me.com>
Description: Black Magic Woman ringtone by Santana
Maintainer: Chir0student <chir0student@me.com>
Name: Black Magic Woman Ringtone
Package: apt.1nternist.blackmagicwoman
Section: Ringtones
Version: 1.0
