Package: apt.1nternist.idwaneorep-list
Version: 1.1
Section: Repositories
Maintainer: chir0student <chir0student@me.com>
Architecture: iphoneos-arm
Description: iDwaneo Repo
Sponsor: myRepoSpace.com <http://www.myrepospace.com/>
Name: iDwaneo Repo
Depiction: http://www.myrepospace.com/
Author: chir0student
