Package: apt.1nternist.libpng
Priority: optional
Section: Multimedia
Installed-Size: 460
Maintainer: J. Anrugas <j.anrugas@gmail.com>
Sponsor: Chir0student <chir0student@me.com>
Architecture: iphoneos-arm
Version: 1.2.50-5
Pre-Depends: dpkg (>= 1.14.25-8)
Replaces: png
Role: hacker
Tag: purpose::library, role::hacker
Description: Library for manipulating PNG files
  Library for manipulating PNG files.
  This package contains the shared PNG library.
  Version 1.2.50 removes a potential security vulnerability so all users 
 are recommended to upgrade immediately.
Author: J. Anrugas <j.anrugas@gmail.com>
Homepage: http://www.libpng.org/pub/png/libpng.html
