Package: apt.1nternist.installipa
Depends: firmware (>= 4.0)
Name: IPA Installer Console
Version: 3.3-1
Architecture: iphoneos-arm
Description: **Compiled on iPhone 6** Install IPA from the command line
Installed-Size: 221
Maintainer: Chir0student <chir0student@me.com>
Author: Merlin <lonelystars@gmail.com>
Sponsor: Chir0student <chir0student@me.com>
Section: Utilities
dev: lonelystars
Tag: purpose::console, role::enduser, ios7support::1, ios8support::1
