

body {
	margin: 0;
	padding: 0;
	width: 320px;
	height: 100px;
	font-family: Helvetica;
}


.TextColorRed { 
	color: red;
}

.TextColorGrey {
	color: #9C9C9C;;
}

#Layer{
		position:absolute;
		top:0;
		left: 0px;
		width:320px;
		z-index:-5;
		-webkit-animation: EaseInImage 1s linear 1 normal;
		-webkit-animation-fill-mode: forwards;
}
      
#ClockWidget {
	position:absolute;
	top:150px;
	width:320px;
	height:50px;
	text-align:center;
	z-index:99;


	
}
#hour {
	font-weight: normal; 
	font-size:14px;
	color: #32241b;
	text-shadow: 0px 0px 1px #3a3a3a;
}
#tiret {
	font-weight: normal; 
	font-size:14px;
	color: #32241b;
	text-shadow: 0px 0px 1px #3a3a3a;
}
#minute {
	font-weight: normal; 
	font-size:14px;
	color:	#32241b;
	text-shadow: 0px 0px 1px #3a3a3a;
}
#second {
	position: relative;
	top:0px;
	left:0px;
	font-weight: normal;
	font-size:7px;
	color: #32241b;
	text-shadow: 0px 0px 1px #3a3a3a;
}
#ampm {
	position: relative;
	top:0px;
	left:4px
	font-weight: normal;
	font-size:14px;
	color: #32241b;
	text-shadow: 0px 0px 1px #3a3a3a;
	text-align:left;
}

#DateWidget {
    position:absolute;
	top:138px;
	width:320px;
	height:18px;
	text-align: center;
	z-index: 99;

}
#weekday {
	font-weight: normal; 
	font-size: 12px;
	color: #32241b;
	text-shadow: 0px 0px 1px #3a3a3a;
}
#month {
	font-weight: normal; 
	font-size: 12px;
	color: #32241b;
	text-shadow: 0px 0px 1px #3a3a3a;
}
#date {
	font-weight: normal; 
	font-size: 12px;
	color: #32241b;
	text-shadow: 0px 0px 1px #3a3a3a;
}
#year {
	font-weight: normal; 
	font-size: 14px;
	color: #32241b;
	text-shadow: 0px 0px 1px #3a3a3a;
	display: none;
}

#city{
	position:absolute;
	top:155px;
	left:60px;
	width:320px;
	height:480px;
	text-align:left;
	font-weight: normal; 
	font-size:8px;
	color: #32241b; text-shadow: 0px 0px 1px #3a3a3a;
	z-index:90;


}

#coordinates{
	position:absolute;
	width: 320px;
	height: 20px;
	text-align: center;
	z-index: 5;
	top:20px;
	left: 0px;
	color: #e8e7e7; text-shadow: black 0.0em 0.02em 0.07em;
	font-weight: normal;
	font-size: 4px;
	opacity: 0;
}

#desc{
	position:absolute; top:145px; left:60px; width:320px; height:480px; text-align:left; z-index:90;
	font-weight: normal; 
	font-size:8px;
	color: #32241b; text-shadow: 0px 0px 1px #3a3a3a;
	word-spacing:-1px;
	letter-spacing:0px;
	

}


#hightemp{
	position:absolute; top:157px; left: -85px; width:320px; height:20px; text-align:right; z-index:90;
	font-weight: normal; 
	font-size:6px;
	color: #32241b;text-shadow: 0px 0px 1px #3a3a3a;

	
}

#lowtemp{
	position:absolute; top:150px; left: -85px; width:320px; height:20px; text-align:right; z-index:90;
	font-weight: normal; 
	font-size:6px;
	color: #32241b; text-shadow: 0px 0px 1px #3a3a3a;
	
}

#temp{
	position:relative; top: 145px; left:-56px; width:320px; height:40px; text-align:right; z-index:90;
	font-weight:normal; 
	font-size:17px;
	color: #32241b; text-shadow: 0px 0px 1px #3a3a3a;


}


#weathericon{
	position:absolute;
	top:0px;
	left:15px;
	width: 320px;
	height: 480px;
	z-index:2;

}

@-webkit-keyframes EaseInText {

	0%		{opacity : 0;}

	50%		{opacity : 0;}

	100%		{opacity : 1.0;}}



@-webkit-keyframes EaseInImage {

	0%		{opacity : 0;}

	50%		{opacity : 0.0;}

	100%		{opacity : 1.0;}}