Architecture: iphoneos-arm
Author: ichitaso <willfeeltips+terminal@gmail.com>
Conflicts: mobileterminal, mobileterminal-applesdk, mobileterminal-applesdk7, net.angelxwind.mobileterminal-applesdk, com.officialscheduler.mterminal, apt.1nternist.mobileterminal, apt.1nternist.mobileterminalplus, apt.1nternist.mobileterminal-applesdk7, com.ichitaso.mobileterminal
Depends: firmware (>= 5.0), dpkg (>= 1.14.25-8), bash, coreutils, ncurses, system-cmds
Description: MobileTerminal for iOS 8 has a few GUI improvements over MobileTerminal including an iOS 8 interface, some added functions, and arm64 support.
dev: ichitaso
Icon: file:///Applications/Terminal.app/Icon29x29@2x.png
Installed-Size: 1007
Maintainer: Chir0student <chir0student@me.com>
Name: MobileTerminal (iOS 8)
Package: apt.1nternist.mobileterminalios8
Replaces: mobileterminal, mobileterminal-applesdk, mobileterminal-applesdk7, net.angelxwind.mobileterminal-applesdk, com.officialscheduler.mterminal, apt.1nternist.mobileterminal, apt.1nternist.mobileterminalplus, apt.1nternist.mobileterminal-applesdk7, com.ichitaso.mobileterminal
Section: Terminal Support
Sponsor: Chir0student <chir0student@me.com>
Tag: purpose::uikit
Version: 1.0.2-2
