Architecture: iphoneos-arm
Author: BYA Repository
Depends: mobilesubstrate, firmware (>= 6.0)
Description: iOS 8.3 Emoji for everyone.
Maintainer: Redenfire <redenfire@gmail.com>
Sponsor: Chir0student <chir0student@me.com>
Name: Emoji iOS 8.3+
Package: apt.1nternist.emoji83
Section: System
Version: 1.0-47
