Author: Jacob Pifher <pifanater@gmail.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: PHPPod
Package: apt.1nternist.phppod
Depends: lighttpd, php, apt.1nternist.ffmpeg-xvid, faac
Section: Utilities
Installed-Size: 1321
Version: 4.0
Architecture: iphoneos-arm
Description: Play media files w/o iTunes. Webserver Lighttp add-on.
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=phppodData
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=phppodData
Sponsor: thebigboss.org <http://thebigboss.org>
dev: jpifher
