Architecture: iphoneos-arm
Author: Chir0student <chir0student@me.com>
Description: FFMpeg 2.4.2 compiled for iOS -- Includes x264 encoder.  This is a console app and does not include UI.    (Contact me for ffplay and other ffmpeg projects)
Maintainer: Chir0student <chir0student@me.com>
Name: FFmpeg
Package: apt.1nternist.ffmpeg
Conflicts: com.fizk.ffmpeg
Replaces: com.fizk.ffmpeg
Provides: com.fizk.ffmpeg
Section: Multimedia
Sponsor: Chir0student <chir0student@me.com>
Version: 2.4.2
