Architecture: iphoneos-arm
Name: ffmpeg
Package: apt.1nternist.ffmpeg
Author: 1nternist <dc1nternist@icloud.com>
Sponsor: 1nternist.github.io <https://1nternist.github.io>
Maintainer: 1nternist <dc1nternist@icloud.com>
dev: 1nternist
Description: ffmpeg is a part of the ffmpeg project. ffmpeg (binary) can be used to convert a large variety of inputs (files, streams, etc.) into various formats. This is a processing utility. Access functionality from the command-line or api. This release includes the x264 encoder.
Conflicts: com.fizk.ffmpeg, com.nin9tyfour.ffmpeg
Replaces: com.fizk.ffmpeg, com.nin9tyfour.ffmpeg
Provides: com.fizk.ffmpeg, com.nin9tyfour.ffmpeg
Depends: firmware (>= 5.0), ldid
Priority: optional
Section: Multimedia
Tag: purpose::library, compatible::ios7, compatible::ios8, compatible::ios9
Installed-Size: 28498
Version: 3.0-2
