Architecture: iphoneos-arm
Author: Philippe97 <philippemail1@gmail.com>
Description: This package allows AppToDeb v1 to exist in parallel with AppToDeb v2 (philippe97 http://apt.philippe97.ca). Build directories for AppToDeb(v1) and AppToDeb(v2) can be accessed at /var/mobile/AppToDeb.
Maintainer: Chir0student <chir0student@me.com>
Conflicts: apt.1nternist.apptodebv1parallel
Replaces: apt.1nternist.apptodebv1parallel
Name: AppToDeb (v1) for iOS8
Package: apt.1nternist.apptodebv14ios8
Priority: standard
Section: Utilities
Sponsor: Chir0student <chir0student@me.com>
Version: 1.2.1
