Package: apt.1nternist.freeyourap-list
Version: 1.1
Section: Repositories
Maintainer: chir0student <chir0student@me.com>
Architecture: iphoneos-arm
Description: FYA repo
Sponsor: myRepoSpace.com <http://www.myrepospace.com/>
Name: FreeYourApple Repo
Depiction: http://www.myrepospace.com/
Author: chir0student
