Package: apt.1nternist.myrepospac-list
Version: 1.0
Section: MyRepoSpace.com
Maintainer: chir0student <chir0student@me.com>
Architecture: iphoneos-arm
Description: Admin Repo
Sponsor: myRepoSpace.com <http://www.myrepospace.com/>
Name: MyRepoSpace Admin Repo
Depiction: http://www.myrepospace.com/
Author: chir0student
