Architecture: iphoneos-arm
Author: Hiraku <demo@iphone4.tw>
Depends: firmware (>= 2.0), coreutils, openssh, gawk
Description: Debian packaging tool
Maintainer: Chir0student <chir0student@me.com>
Name: dpkg-debtool
Package: apt.1nternist.dpkg-debtool
Sponsor: Chir0student <chir0student@me.com>
Section: Scripting
Tag: role::hacker
Version: 0.9.11
