Architecture: iphoneos-arm
Author: Chir0student <chir0student@icloud.com>
Description: Full Metal Jacket "Got A Hardon!!" ringtone/text tone.
Maintainer: Chir0student <chir0student@icloud.com>
Name: I Think Ya Got A Hardon!
Package: apt.1nternist.hardon
Section: Ringtones
Version: 1.0
