Architecture: iphoneos-arm
Author: iRasticrac
Depends: com.ericasadun.utilities, odcctools, zip, gawk, adv-cmds, bigbosshackertools
Conflicts: ldone, com.iphonecake.rasticrac
Replaces: ldone, com.iphonecake.rasticrac
Description: iOS cracking script. Formerly known as poedcrackmod.
Maintainer: iPhoneCake.com
Name: Rasticrac
Package: apt.1nternist.rasticrac
Pre-Depends: firmware (>= 4.0)
Section: Utilities
Version: 3.1.6
