Architecture: iphoneos-arm
Author: brc0703
Depends: dpkg (>= 1.13.8), apt.1nternist.libtimedate-perl, apt.1nternist.perl | apt.1nternist.perl510 | apt.1nternist.perl514 | apt.1nternist.perl520 | perl | org.coolstar.perl | apt.1nternist.perlfullinstall
Description: Perl modules for dpkg (required for MiRepo functionality).
Installed-Size: 4872
Maintainer: 1nternist <dc1nternist@icloud.com>
Sponsor: 1nternist <dc1nternist@icloud.com>
Name: libdpkg-perl
Package: apt.1nternist.libdpkg-perl
Conflicts: libdpkg-perl, libdpkgperl, com.sull.libdpkgperl
Provides: libdpkg-perl, libdpkgperl, com.sull.libdpkgperl
Replaces: libdpkg-perl, libdpkgperl, com.sull.libdpkgperl
Section: Development
Version: 1.16.15-8
Tag: purpose::console role::developer
