Architecture: iphoneos-arm
Conflicts: perl (< 5.10.0)
Description: Larry Wall's Practical Extraction and Report Language This meta-package depends on the modules which are present in the base install of this version of perl, but have been upgraded since its release, or have been packaged separatedly for easier updating. This package is required by perl. Perl is a stable, cross platform programming language. It is used for mission critical projects in the public and private sectors and is widely used to program web applications of all needs.
Author: CoreDev <coredev@coredev.nl>
Homepage: http://www.perl.org/
Maintainer: 1nternist <dc1nternist@icloud.com>
Sponsor: 1nternist Repo <https://1nternist.github.io>
Name: Universal Perl Modules
Package: apt.1nternist.perl-modules
Priority: standard
Section: perl
Icon: file:///Applications/Cydia.app/Sections/perl.png
Suggests: perl (>= 5.20.1)
Tag: purpose::console, role::developer
Version: 5.22.0-1
