Package: apt.1nternist.libjpeg
Priority: 
Section: Multimedia
Installed-Size: 400
Maintainer: J. Anrugas <j.anrugas@gmail.com>
Sponsor: Chir0student <chir0student@me.com>
Architecture: iphoneos-arm
Version: 8d-1-5
Pre-Depends: dpkg (>= 1.14.25-8)
Replaces: jpeg
Role: hacker
Tag: purpose::library, role::hacker
Description: The Independent JPEG Group's library is a library for handling JPEG files
  A library for handling JPEG files.
  This package contains the shared JPEG library from the the independent 
 JPEG Group's.
Author: J. Anrugas <j.anrugas@gmail.com>
Homepage: http://www.ijg.org
