Architecture: iphoneos-arm
Author: DeltaMan <deltaman75@outlook.com>
Description: GNU build system for portable libraries
dev: deltaman
Installed-Size: 2311
Maintainer: Chir0student <chir0student@me.com>
Name: Libtool
Package: apt.1nternist.libtool
Conflicts: com.deltaman.libtool, libtool
Provides: com.deltaman.libtool, libtool
Section: Development
Sponsor: Chir0student <chir0student@me.com>
Tag: purpose::console, role::developer
Version: 2.4.2-2
