Architecture: iphoneos-arm
Author: iJunkie22
Depends: apt.1nternist.bashutils, bash, coreutils, coreutils-bin, findutils, apt.1nternist.pcentcomp, apt.1nternist.pcentleft
Depiction: http://repo.insanelyi.com/depiction.php?package=timecalc
Description: A simple bash script plugin that calculates time remaining based on a timestamp before the start of a loop, percent completion at a second timestamp, and the percent left at that timestamp, and echoes it.
Maintainer: insanelyi <noreply@insanelyi.com>
Name: timecalc
Package: apt.1nternist.timecalc
Section: iScripts
Sponsor: insanelyi <http://insanelyi.com>
Version: 1.0
