Package: apt.1nternist.ap2ipa
Section: Scripting
Maintainer: Chir0student <chir0student@me.com>
Architecture: iphoneos-arm
Version: 1.2-1
Depends: coreutils, findutils, grep, sed, com.slugrail.ipainstaller, apt.1nternist.ipainstallerurlscheme-enabler
Description: converts system apps to ipa's to be installed through IPA Installer and then synced to itunes for easy saving.. run 'ap2ipa' from terminal. only apps that can function as mobile will work.. more info in terminal
Name: ap2ipa
Author: brc0703
Sponsor: Chir0student <chir0student@me.com>
Priority: extra
