Architecture: iphoneos-arm
Author: Chir0student <chir0student@me.com>
Description: Tuk Tuk Tuk Tuk Ca Caw text tone from the movie Evolution.
Maintainer: Chir0student <chir0student@me.com>
Name: Tuk Tuk Ca Caw Ringtone
Package: apt.1nternist.tuktukcacaw
Section: Ringtones
Version: 1.1
