Architecture: iphoneos-arm
Conflicts: apt.1nternist.dpkgscanpackages
Depends: apt.1nternist.libdpkg-perl | libdpkg-perl, dpkg, apt.1nternist.libtimedate-perl | libtimedate-perl, apt.1nternist.perl | apt.1nternist.perl510 | apt.1nternist.perl514 | apt.1nternist.perl520 | perl | org.coolstar.perl | apt.1nternist.perlfullinstall
Description: Installs dpkg-scanpackages, dpkg-scanpackages256, dpkg-scansource, dpkg-gettext.pl.
Maintainer: 1nternist <dacdcdabci@gmail.com>
Name: dpkg-scanpackages
Package: apt.1nternist.dpkg-scanpackages
Replaces: apt.1nternist.dpkgscanpackages
Section: Scripting
Sponsor: 1nternist <dacdcdabci@gmail.com>
Version: 2.6
