Architecture: iphoneos-arm
Author: ttwj & iT0ny
Depends: zip
Description: [Not public release. For experienced cracker only] [Run: Clutch2] Clutch 2.0 RC4, Rewritten from the ground up, Clutch 2.0 is fast, elegant and supports the latest technologies introduced in iOS 8.0, like Extensions, Frameworks and WatchKit apps(iOS 8.2 or higher might be required for some WatchKit apps).
Homepage: https://github.com/KJCracks/Clutch-dl
Maintainer: Chir0student <chir0student@me.com>
Name: Clutch
Package: apt.1nternist.clutch2
Pre-Depends: firmware (>= 3.1)
Priority: standard
Section: Utilities
Version: 2.0-1
