Architecture: iphoneos-arm
Author: dxs <dxs444@gmail.com>
Conflicts: com.dxs.makeicon
Depends: imagemagick, pincrush, coreutils, shell-cmds, bash, jpeg
Depiction: http://modmyi.com/info/makeicon.d.php
Description: Generate SpringBoard icons for your apps, using a single input image.
Homepage: http://modmyi.com/info/makeicon.php
Maintainer: Chir0student <chir0student@me.com>
Name: MakeIcon iOS 7+
Package: apt.1nternist.makeiconios7+
Replaces: com.dxs.makeicon
Section: Development
Sponsor: Chir0student <chir0student@me.com>
Tag: role::hacker
Version: 0.2
