Architecture: iphoneos-arm
Author: 1nternist <dc1nternist@icloud.com>
Description: The jtool command is meant to meet and exceed the functionality to XCode's otool(1), picking up along the way additional Mach-O commands such as atos(1), dyldinfo(1), nm(1), segedit(1), pagestuff(1), strings(1), codesign(1), and even the informal ldid. jtool also provides novel features, such in-binary search functionality, symbol injection and a disassembler functionality with (limited but constantly improving) emulation capabilities. It also provides color output.
Maintainer: 1nternist <dc1nternist@icloud.com>
Name: jtool (arm64)
Package: apt.1nternist.jtool64
Depends: cy+cpu.arm64
Section: Development
Version: 1.0-3
