Package: apt.1nternist.winterboardicon
Name: WinterBoard Icon
Depends: winterboard
Version: 1.0
Architecture: iphoneos-arm
Description: Adds the WinterBoard icon back to your SpringBoard 
Author: iCountry
Maintainer: Chir0student <chir0student@me.com>
Sponsor: Chir0student <chir0student@me.com>
Section: Tweaks
