Architecture: iphoneos-arm
Author: Andrew Hyatt <ahyattdev@icloud.com>
Depends: ncurses
Description: Internationalization helper for strings. Internationalization helper for strings. Compiled as fat binaries for armv7, armv7s, and arm64 devices.
Homepage: http://www.gnu.org/software/gettext/
Maintainer: Andrew Hyatt <ahyattdev@icloud.com>
Name: gettext
Package: gettext
Priority: optional
Section: System
Version: 0.19.7-3
