Package: apt.1nternist.repocydiac-list
Version: 1.0
Section: MyRepoSpace.com
Maintainer: chir0student <chir0student@me.com>
Architecture: iphoneos-arm
Description: RepoCydia.com Repository
Sponsor: myRepoSpace.com <http://www.myrepospace.com/>
Name: RepoCydia.com Repository
Depiction: http://www.myrepospace.com/
Author: chir0student
