Package: apt.1nternist.libfreetype
Priority: optional
Section: Multimedia
Installed-Size: 652
Maintainer: J. Anrugas <j.anrugas@gmail.com>
Sponsor: Chir0student <chir0student@me.com>
Architecture: iphoneos-arm
Version: 2.4.11-5
Pre-Depends: dpkg (>= 1.14.25-8)
Replaces: freetype2-atv
Role: hacker
Tag: purpose::library, role::hacker
Description: FreeType is a freely available software library to render fonts.
  FreeType is a freely available software library to render fonts.
  This package contains the shared library files.
Name: libfreetype
Homepage: http://goo.gl/LXfUB
