Package: apt.1nternist.julioskype-list
Version: 1.0
Section: MyRepoSpace.com
Maintainer: chir0student <chir0student@me.com>
Architecture: iphoneos-arm
Description: JuLiO-Skype Repo
Sponsor: myRepoSpace.com <http://www.myrepospace.com/>
Name: JuLiO-Skype Repo
Depiction: http://www.myrepospace.com/
Author: chir0student
