Architecture: iphoneos-arm
Author: brc0703
Conflicts: timedate, apt.1nternist.libtimedateperl
Depends: apt.1nternist.perl | apt.1nternist.perl510 | apt.1nternist.perl514 | apt.1nternist.perl520 | perl | org.coolstar.perl | apt.1nternist.perlfullinstall
Description: collection of modules to manipulate date/time information TimeDate is a collection of Perl modules useful for manipulating date and Time information. Date::Parse can parse absolute date specifications in a Wide variety of input formats and many languages (via Date::Language). This package also includes Date::Format, which can format dates into strings, As well as Time::Zone, which contains miscellaneous time zone functions.
Maintainer: 1nternist <dacdcdabci@gmail.com>
Name: libtimedate-perl
Package: apt.1nternist.libtimedate-perl
Priority: optional
Provides: timedate
Replaces: timedate, apt.1nternist.libtimedateperl
Section: Development
Sponsor: 1nternist <dacdcdabci@gmail.com>
Version: 1.2000-6
