Architecture: iphoneos-arm
Depends: gnupg
Description: Documentation for GNU Privacy Guard.
Homepage: http://www.gnupg.org/
Maintainer: dc1nternist <dc1nternist@icloud.com>
Name: gpg-docs
Package: gnupg-docs
Priority: optional
Tag: purpose::console role::hacker
Section: Security
Version: 1.4.19-1
