Architecture: iphoneos-arm
Author: Chir0student <chir0student@me.com>
Description: Retina Wallpaper for iPad pack 5 of 6.
Maintainer: Chir0student <chir0student@me.com>
Name: iPad Wallpaper Pack 5
Package: apt.1nternist.ipadwallpaperpack5
Section: Themes (Wallpaper)
Version: 1.0
