Architecture: iphoneos-arm
Author: Chir0student <chir0student@me.com>
Description: Cacaw cacaw tookie tookie ring tone from the movie Evolution
Maintainer: Chir0student <chir0student@me.com>
Name: Cacaw Tookie Tookie Ringtone
Package: apt.1nternist.cacawtookietookie
Section: Ringtones
Version: 1.0
