Architecture: iphoneos-arm
Author: CoolStar <coolstarorganization@gmail.com>
Conflicts: mobileterminal-applesdk, apt.1nternist.mobileterminal
Description: MobileTerminal Plus has a few GUI improvements over MobileTerminal, along with some extra functions.
Maintainer: Chir0student <chir0student@icloud.com>
Name: MobileTerminal Plus
Package: apt.1nternist.mobileterminalplus
Replaces: mobileterminal-applesdk, apt.1nternist.mobileterminal
Section: Utilities
Version: 530-4
