Architecture: iphoneos-arm
Author: idotce <idotce@gmail.com>
Conflicts: man-db, org.thebigboss.man-db
Replaces: man-db, org.thebigboss.man-db
Provides: man-db, org.thebigboss.man-db
Depends: firmware (>= 4.0), org.thebigboss.libpipeline | apt.1nternist.libpipeline, org.thebigboss.groff-base | apt.1nternist.groff-base
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=mandbDp
Description: standard Unix documentation system
dev: idotce
Installed-Size: 3516
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: man-db
Package: apt.1nternist.man-db
Section: Development
Sponsor: 1nternist.github.io <https://github.com/dc1nternist/1nternist.github.io>
Tag: purpose::console, role::developer
Version: 2.7.5-3
