Architecture: iphoneos-arm
Author: Philippe97 <philippemail1@gmail.com>
Description: This package allows AppToDeb v1 to exist in parallel with AppToDeb v2 (philippe97 http://apt.philippe97.ca). Build directories for AppToDeb(v1) and AppToDeb(v2) can be accessed at /var/mobile/Philippe97.
Maintainer: Chir0student <chir0student@me.com>
Name: AppToDeb(v1) Parallel
Package: apt.1nternist.apptodebv1parallel
Priority: standard
Section: Utilities
Sponsor: Chir0student <chir0student@me.com>
Version: 1.5.3
