Architecture: iphoneos-arm
Author: Chir0student <chir0student@me.com>
Depends: firmware (>= 6.0), ldid
Description: Add armv7s slice to fat binaries with armv7 architecture. 
Maintainer: Chir0student <chir0student@me.com>
Sponsor: Chir0student <chir0student@me.com>
Name: armv7s-add
Package: apt.1nternist.armv7s-add
Section: Utilities
Version: 1.0
