Architecture: iphoneos-arm
Author: iLarke <ilarke@me.com>
Depends: com.eldwin.iwidgets
Depiction: http://www.macciti.com/pages/iminionsiwidgetpack/index.php
Description: Assemble the minions! If you love Despicable Me...
Maintainer: Chir0student <chir0student@me.com>
Name: iMinions iWidget Pack
Package: apt.1nternist.iminionsiwidgetpack
Section: Widgets
Sponsor: Chir0student <chir0student@me.com>
Version: 1.1
