Architecture: iphoneos-arm
Author: MobileTerminal <mobileterminal@googlegroups.com>
Depends: firmware (>= 7.0), dpkg (>= 1.14.25-8), bash, coreutils, coreutils-bin, ncurses, system-cmds
Conflicts: mobileterminal-applesdk, apt.1nternist.mobileterminal, apt.1nternist.mobileterminalplus, apt.1nternist.mobileterminal-applesdk7
Description: MobileTerminal for iOS 7 has a few GUI improvements over MobileTerminal including an iOS 7 interface and some added functions.
Icon: file:///Applications/Terminal.app/Icon@2x.png
Maintainer: Chir0student <chir0student@icloud.com>
Name: MobileTerminal iOS 7
Package: apt.1nternist.mobileterminalios7
Replaces: mobileterminal-applesdk, apt.1nternist.mobileterminal, apt.1nternist.mobileterminalplus, apt.1nternist.mobileterminal-applesdk7
Sponsor: Chir0student <chir0student@icloud.com>
Section: Terminal Support
Tag: purpose::uikit
Version: 700-4
