Architecture: iphoneos-arm
Author: CrazyMonster <crzmst@yahoo.it>
Conflicts: com.cokepokes.gsutility, com.xsellize.gsutility
Depends: firmware (>= 5.0), mobilesubstrate, com.grooveshark.grooveshark (>= 2.7.4)
Description: Enhance Grooveshark for iOS to support infinite trial renew and music import (with Gremlin installed).
Maintainer: Chir0student <chir0student@me.com>
Sponsor: Chir0student <chir0student@me.com>
Name: Grooveshark Enhancer
Package: apt.1nternist.groovesharkenhancer
Priority: optional
Replaces: com.cokepokes.gsutility, com.xsellize.gsutility
Section: Applications
Version: 2.7.5
