Package: apt.1nternist.pbasename
Name: pbasename
Version: 1.0-4
Architecture: iphoneos-arm
Description: Strips paths and given prefixes from names
 pbasename is like basename but strips prefixes instead of suffixes.
 http://www.ibiblio.org/pub/Linux/utils/file/pbasename-1.0.tar.gz
Maintainer: Chir0student <chir0student@me.com>
Sponsor: Chir0student <chir0student@me.com>
Author: <veijalai@cc.lut.fi>
Section: Terminal Support
Tag: purpose::console, role::hacker
Priority: optional
