Architecture: iphoneos-arm
Name: Perl
Package: apt.1nternist.perl
Author: CoolStar <coolstarorganization@gmail.com>
Maintainer: CoolStar <coolstarorganization@gmail.com>
Sponsor: 1nternist Repo <https://1nternist.github.io>
Description: Perl ported for iOS, compatible with iOS 9 and arm64. Larry Wall's Practical Extraction and Report Language. Perl is a stable, cross platform programming language. It is used for mission critical projects in the public and private sectors and is widely used to program web applications of all needs.
Depends: gsc.armv7, apt.1nternist.perl-modules
Conflicts: perl, com.sull.perl, apt.1nternist.perl510, apt.1nternist.perl514, apt.1nternist.perl520
Replaces: perl, com.sull.perl, apt.1nternist.perl510, apt.1nternist.perl514, apt.1nternist.perl520
Provides: perl, com.sull.perl, apt.1nternist.perl510, apt.1nternist.perl514, apt.1nternist.perl520
Section: Development
Version: 5.22.0-3
Icon: file:///Applications/Cydia.app/Sections/perl.png
Tag: purpose::console, role::developer, compatible::ios8, compatible::ios9, compatible::arm64
