Architecture: iphoneos-arm
Package: apt.1nternist.wallpapers1
Name: Wallpapers Pack 1
Author: Chir0student <chir0student@icloud.com>
Maintainer: Chir0student <chir0student@icloud.com>
Section: Wallpapers
Version: 1.0
Description: iPhone wallpapers pack 1
