Architecture: iphoneos-arm
Author: Chir0student <chir0student@me.com>
Description: Retina Wallpaper for iPad pack 4 of 6.
Maintainer: Chir0student <chir0student@me.com>
Name: iPad Wallpaper Pack 4
Package: apt.1nternist.ipadwallpaperpack4
Section: Themes (Wallpaper)
Version: 1.0
