Architecture: iphoneos-arm
Package: apt.1nternist.libxml2
Name: libxml2
Version: 2.7.8
Conflicts: libxml2-lib, libxml2
Replaces: libxml2-lib, libxml2
Provides: libxml2-lib, libxml2
Pre-Depends: dpkg (>= 1.14.25-8)
Priority: standard
Section: Development
Description: very popular XML parser from Gnome (Patched for iOS 8 & arm64)
 To upgrade, first remove old cydia packages:
  apt-get remove libxml2 libxml2-lib
Homepage: http://xmlsoft.org/
Installed-Size: 2943
Maintainer: pancake <pancake@nopcode.org>
