
@font-face {
    font-family: 'fonts';
    src: url('../../font/walkway.ttf');
    font-style: normal;

}

html{
	font-family: "fonts";
}
#bigicon{
	position: absolute;
	z-index: 500;
}
.weatherdata #weather{
	display: block;
	max-width: 320px;
	width: 320px;
	
}


.item{
	position: relative;
	text-align: center;

margin: 10px 0px 0px 0px;

}


.date{
	position: relative;
	top:-9000px;
    left:50px;
    max-height: 10px;

}
.date2{
	position: absolute;
	top:1320px;
    left:160px;
    width: 60px;
    color: white;
    text-align: right!important;
    max-height: 10px;

}


.weekday{
	position: absolute;
	font-size: 14px;
	top:9705px;
	color: white;
	left:-40px;
	word-spacing:0px;
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
	z-index: 1;

}



.temp{
	position: relative;
	font-size: 10px;
	color: white;
	top:70px;
    left:25px;
    max-width: 100px;
    max-height: 100px;
    margin-top: 12px;
}

.temptoday{
	position: relative;
	font-size: 100px;
	color: white;
	top:228px;
    left:-100px;



}

.realfeel{
	position: absolute;
	font-size: 35px;
	color: white;
	font-size: 15px;
	top:265px;
    left:10px;
    
  
}
.TodayIcon{
	position: absolute;
	top:-124px;
	left:-8px;
	z-index: -1;
	display: none;
}
.temp-max{
	position: relative;
	top:610px;
	left:190px;
		font-family: "fonts";
	
}

.temp-min{
	position: relative;
	top:610px;
	left:190px;

	
}

.precip{
	position: absolute;
	top:725px;
	color: white;
    left:30px;
    opacity: 0.5;
   
}

.wind{
	position: absolute;
	top:1320px;
    left:230px;
    color: white;
    font-size: 15px;
   
}
.windnow{
	position: absolute;
	top:1320px;
    left:20px;
    width: 100px;
    font-size: 25px;
    color: white;
    text-align: right!important;
    max-height: 10px;

}

.weatherdata{
	display: block;
}

.icon{
position: absolute;


	top:690px;
	left:140px;
	
}



.city{
	position: absolute;
	top:430px;
	width: 320px;
	left:80px;
	text-align: center;
	font-size: 20px;
	color: white;
}



.desc{
	position: absolute;
	top:245px;
	left:8px;
	white-space: nowrap;
	font-size: 18px;
	color: white;
}

html{
background-color:transparent;
}

#wallpaper{
	position: absolute;
	z-index: -2;
	top:0px;
	left: 0px;
	display: block;
}

#weatherholder{
	position: absolute;
	z-index: -1;
	top:0px;
	left: 0px;

}

.whenwillitrain{
	position: absolute;
	font-size: 15px;
	color:white;
	top:970px;
	width: 280px;
	left: 10px;
	
}

.extendeddesc{
	position: absolute;
	font-size: 15px;
	color:white;
	top:850px;
	width: 280px;
	left: 10px;
}

.lat{
	position: absolute;
	top:1650px;
	left:20px;
	color: white;
}
.long{
	position: absolute;
	top:1650px;
	left:170px;
	color: white;
}
.humidity{
	position: absolute;
	top:1095px;
	left:190px;
	color: white;
}
.shortdesc{
	display: none;
}


/*--start main html*/ 


#drg {
 position: fixed;
 left:0px;
 top:-2136px;
 width:320px;
 height: 8000px;

 
}
#adj{
position: absolute;
left:0px;
top:0px;
    width:320px;
    height:583px;

 
  


}

#settings{
  position: absolute;
  width: 320px;
  height: 120px;
  left:-4px;
  top:0px;
  z-index: 500;
}

#main{
  position: absolute;
  top:2136px;
  width: 320px;
  height: 4000px;
 

  z-index: 3;
  
}
.bgicon{
	position: absolute;
	left: 0px;
	top:0px;
}

#weatherimage{
  position: absolute;
  width: 320px;
  top:2136px;
  display: none;
}
#overlay{
  position: absolute;
  width: 320px;
  top:2136px;
  z-index: 1;
  opacity: 0.0;
}


/*--main html*/ 



#forecast{
	position: absolute;
	font-family: "fonts";
	color: white;
	top:620px;
	left:20px;
	font-size: 25px;
}
#details{
	position: absolute;
	font-family: "fonts";
	color: white;
	top:980px;
	left:20px;
	font-size: 25px;
}
#wind{
	position: absolute;
	font-family: "fonts";
	color: white;
	top:1285px;
	left:20px;
	font-size: 25px;
}

#radartext{
	position: absolute;
	font-family: "fonts";
	color: white;
	top:1590px;
	left:30px;
	font-size: 25px;
}
#radar{
  position:absolute;
  -webkit-transform: scale(0.45);
  left:-164px;
  top:1520px;
 
	  background: #ddd;
	  border-radius: 4px;
	  padding: 1em 1.5em;
	  color: rgba(0,0,0, .8);
	  text-shadow: 0 1px 0 #fff;


  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);


}
#blade{
  position: absolute;
  top:1350px;
  left:40px;
  z-index: 2;
}
#blade2{
  position: absolute;
  top:1350px;
  left:40px;
  z-index: 1;
}

.fulltime{
	position: absolute;
	top:30px;
	left:-3px;
	text-align: center;
	width: 320;
		color: white;
	font-size: 90px;
	font-weight:100;
	white-space: nowrap;
	word-spacing: -30px;
	z-index: 5;
}
#fulltimed{
	position: absolute;
	top:20px;
	font-weight:100;
	left:120px;
		height: 20;
	width: 80px;
	
		background-color: transparent;
	white-space: nowrap;
	word-spacing: 0px;
	z-index: 6;
}

#this {
 position: absolute;
 top:0px;
 left:0px;
 z-index: -1

}

#two {
 position: absolute;
 top:565px;
 left:0px;
 z-index: -1

}

#three {
 position: absolute;
 top:900px;
 left:0px;
 z-index: -1

}


#four {
 position: absolute;
 top:1205px;
 left:0px;
 z-index: -1

}

#five {
 position: absolute;
 top:1510px;
 left:0px;
 z-index: -1

}


