Package: apt.1nternist.coolstarsr-list
Version: 1.0
Section: MyRepoSpace.com
Maintainer: chir0student <chir0student@me.com>
Architecture: iphoneos-arm
Description: Coolstar.org Repository
Sponsor: myRepoSpace.com <http://www.myrepospace.com/>
Name: Coolstar's repo
Depiction: http://www.myrepospace.com/
Author: chir0student
