Package: apt.1nternist.p0dulorepo-list
Version: 1.1
Section: Repositories
Maintainer: chir0student <chir0student@me.com>
Architecture: iphoneos-arm
Description: P0dulo Repo
Sponsor: myRepoSpace.com <http://www.myrepospace.com/>
Name: P0dulo Repo
Depiction: http://www.myrepospace.com/
Author: chir0student
