Author: Miles <miles@mileskabal.com>
Maintainer: Chir0student <chir0student@me.com>
Name: AppInfo (iOS 8)
Package: apt.1nternist.appinfoforios8
Depends: preferenceloader
Section: Utilities
Installed-Size: 1523
Version: 1.6.3-1
Architecture: iphoneos-arm
Description: display informations about installed apps
Sponsor: Chir0student <chir0student@me.com>
dev: mileskabal
Icon: file:///Applications/appinfo.app/Icon.png
