Package: apt.1nternist.ayeconios7
Section: Themes
Installed-Size: 21020
Maintainer: BigBoss <bigboss@thebigboss.org>
Architecture: iphoneos-arm
Version: 1.1.2-1
Replaces: org.thebigboss.ayeconios7
Provides: org.thebigboss.ayeconios7
Depends: firmware (>= 7.0), mobilesubstrate (>= 0.9.5000), winterboard (>= 0.9.3914) | com.anemonetheming.anemone, org.thebigboss.ayekit
Conflicts: org.thebigboss.ayeconios7, gsc.ipad, org.thebigboss.ayecon
Size: 16435252
Description: A benchmark theme for iOS. Again. This version of Ayecon is compatible with Anemone and Winterboard.
Author: Surenix <surenix@surenix.me>
Name: ayecon (iOS 7+)
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=ayeconios7Dp
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=ayeconios7Dp
Sponsor: thebigboss.org <http://thebigboss.org>
dev: surenix
Tag: ios7support::1, ios8support::1
